@page 
@model IndexModel
@{
    ViewData["Title"] = "App Inno Day";
}

<div class="text-center">
    <img src="~/img/logo.jpeg" width="200px" />

    @if (Model.Users == null || Model.Users.Count == 0)
    {
        <table id="users" style="width:500px">
            <tr>
                <th colspan="2">No users found</th>
                
            </tr>
        </table>
    }
    else
    {
        <table id="users" style="width:500px">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)<br />
                    </td>
                </tr>
            }
        </table>
    }
</div>